<nav class="navbar navbar-expand-lg  justify-content-between navbar-light bg-light">
  <a class="navbar-brand" href="#">
  <img src="" width="48" height="48" class="d-inline-block align-center" alt=""> aiden

  
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <ul class="navbar-nav align-self-center">
    <li class="nav-item">
      <%= link_to "Home", projects_path, class: "nav-link" %>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Recent Activities</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Ping</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Hey!</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Chat</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Reports</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Find</a>
    </li>
  </ul>
  <ul class="navbar-nav align-self-center">
    <li class="nav-item navbar-profile-icon">
      <a class="nav-link" href="#">A</a>
    </li>
  </ul>
</nav>